<ul style="list-style-type: none; margin: 0; padding: 0; overflow: hidden; background-color: #bdbdbd; display:flex;">
  <li style="display: block; color: #000000; text-align: center; padding: 14px 16px; text-decoration: none;"><%= link_to "Cursos", courses_path %></li>
  <li style="display: block; color: #000000; text-align: center; padding: 14px 16px; text-decoration: none;"><%= link_to "Novo curso", new_course_path %></li>

  <li style="display: block; color: #000000; text-align: center; padding: 14px 16px; text-decoration: none;"><%= link_to "Pessoas", people_path %></li>
  <li style="display: block; color: #000000; text-align: center; padding: 14px 16px; text-decoration: none;">Contact</li>
  
  <li style=" margin-left: auto;"><a href="" style="display: block; color: #000000; text-align: center; padding: 14px 16px; text-decoration: none;"><%= usu %></a></li>
</ul>